@charset "utf-8";
/* CSS Document */
.top-bar{
	width: 100%;height: 50px;line-height: 50px
}
.top-bar a{
	color: white;text-decoration: none
}
.navbar .navbar-nav .nav-item .nav-link{
	padding: 10px 20px
}
.navbar .navbar-nav .nav-item .nav-link:hover{
	color: #086DB5
}
.navbar .navbar-nav .nav-item .dropdown-menu{
	background-color: #086DB5;padding-top: 0
}
main{
	width: 100%; min-height: 600px
}
footer{
	width: 100%; min-height: 200px
}
.bo-goc{ 
	border-radius: 5px; border: none
}
.gach-chan{
	border-bottom: 2px solid #F2C94C
}
.pad{
	padding: 10px 15px
}